/*
 *2019 QiuSuo home page
*/
*{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
    outline: none;
	color:#000;
}
a:hover{
	text-decoration: none;
}
/*首页轮播图*/
.contain{
	position:relative;
	width:100%;
	height:180px;
	margin:0 auto;
}
.box ul{
	list-style: none;
	margin:0;
}
.box ul img{
	width:100%;
	height:100%;
}
.box ul li{
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	display:none;
}
.box ul li:first-child{
	display: block;
}

.btns span{
	position:absolute;
	top:0;
	display: block;
	width:8%;
	height:100%;
	font-family:consolas;
	font-size: 35px;
	text-align: center;
	color:#e0e5d0;
	line-height: 178px;
	background: rgba(255,255,255,0);
	cursor: pointer;
}
.btns span:hover{
	background: rgba(0,0,0,0.2);
	color:#fff;
}
#btnleft{
	left:0;
}
#btnleft:hover{
	box-shadow:1px 0 3px #00000033;		
}
#btnright{
	right:0;		
}
#btnright:hover{
	box-shadow:-1px 0 3px #00000033;
}
.circle{
	position:absolute;
	left:50%;
	bottom:30px;
	margin-left:-55px;
	cursor: pointer;
}
.circle ul li{
	float:left;
	width:12px;
	height:12px;
	border-radius:12px;
	background:#ccc;
	margin:0 5px;
}
.circle .cur{
	background:#fff;
}
/*首页轮播图以下*/
.firstmenust{
	background: #fcfcfc;
	border-radius:20px;
	position: relative;
}
.f_menus{
	border:1px solid #fafafa;
	box-shadow: 1px 5px 5px #f1f1f1;
	padding:5px 10px 0 10px;
	background: #fff;
	border-radius:20px;
	border:1px solid #f1f1f1;
	border-top:0;
}
.fimenus{
	height:140px;
    padding-left: 4%;
}
.fimenus ul {
	width:auto;
	height:100%;
}
.fimenus ul li{
	float:left;
	width:11%;
	height:100%;
	margin:0 1% 0 0;
}

.wods{
	display: block;
	width:59%;
	height:51%;
	border-radius: 100%;
	border:1px solid #2b6bcc;
	margin:15px auto;
}
#one{
	background:url(../imgs/newss.png) no-repeat center;
}

#two{
	background:url(../imgs/dream.png) no-repeat center;
}
#three{
	background:url(../imgs/part_school.png) no-repeat center;
}
#four{
	background:url(../imgs/classics.png) no-repeat center;
}
#five{
	background:url(../imgs/party.png) no-repeat center;
}
#six{
	background:url(../imgs/look.png) no-repeat center;
}
#seven{
	background:url(../imgs/nanphoto.png) no-repeat center;
}
#eight{
	background:url(../imgs/subject.png) no-repeat center;
}
.word{
	display: block;
	width:80%;
	font-size:18px;
	text-align: center;
	margin: auto;
	letter-spacing: 1px;
}
/* .wod{
	color:#2b6bcc;
} */


/*南工新闻板块*/
.f_nannews{
	position:relative;
	margin-top:20px;
}
.news_left img{
	width:100%;
	height:100%;
    }
.news_right{
	padding:10px 20px;
	border-radius:20px 20px 20px 0;
	font-size: 16px;
	background: #fff;
}
.news_right p{
	margin:0;
}
.schoolnews{
	border-bottom: 2px solid #da4f56;
}
.newscontain {
	margin-top:15px;
}
.newscontain li{
	margin:0 0 10px 0
	
}
.newscontain a{
	display: block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}
.newscontain a:hover{
	color:#da4f56;
}
.newscontain strong{
	padding:0 8px 0 0;
}

/*学习资料板块*/
.lena{
	margin-bottom:15px;
}
.lena p{
	text-align: center;
	font-size:16px;  
	margin:0;
}
.lena a{
	color:#fff;
}
.learnings{
	width:100%;
	height:370px;
	padding-top: 15px;
	margin:20px auto;
	background:url(../imgs/studymaterials.png) no-repeat;
	background-size: 100% 100%;
}
.sle{
	position: relative;
	height:260px;
}
.stumate{
	width:90%;
	height:100%;
	margin:0 auto;
	position: relative;
	overflow: hidden;
		}

.stu_nei{
	height:100%;
	position: absolute;
		}
.stu_every{
	height:100%;
	float: left;
	}
.stu_btn span{
	position: absolute;
	background: rgba(255,255,255,0.4);
	text-align: center;
	cursor:pointer;
	font-family: consolas;
		}
.left_btn{
	left:0;
		}
.right_btn{
	right:0;
		}
.stuevery_con{
	position: relative;
	height:100%;
	background: #fff;
	margin:0 auto;
	padding:10px 15px;
}

.stuevery_con h3{
	margin: 20px 0 10px;
	font-size: 23px;
	color:#2262c6;
	
}
.stuitem{
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stuessay{
	font-size: 14px;
	line-height: 2.0em;
	color:#7a7a7a;
	letter-spacing: 1px;
	height:8em;
	overflow: hidden;
}

.lookmove{
	position: absolute;
	right:15px;
	bottom: 10px;
	padding:5px 12px;
	background:#2262c6;
	border-radius: 20px;
	font-size: 12px;
	color: #fff;
}
.stutime{
	position: absolute;
	top:0;
	right:0;
	background: #2262c6;
	color: #fff;
}
.de{
	display: block;
	text-align: center;
	padding: 1px 4px;
}

.stutime_year{
	border-bottom: 2px solid #91b1e3;
	font-size: 13px;
}
.stutime_date{
	font-size:20px;
	letter-spacing: 2px;
	
}

/*理想信念模块*/

.ideal{
	width:100%;
	float: left;
}
.con_title{
    width: 90%;
	margin:auto;
}
.con_title p{
	font-size: 16px;
	color: #da4f56;
	border-bottom: 2px solid red;
	padding-bottom: 5px;
}
.con_shows{
	height: 200px;
	background: url(../imgs/ideal.png) no-repeat;
	background-size:100% 100%;
}
.ide_noe{
	float: left;
	position: relative;
    width: 35%;
	height:100%;
	background: rgba(112,148,218,0.5);
	margin-left: 5%;
}
.ide_noe_fr{
	position: absolute;
	width:100%;
	text-align: center;
	background:#3675d9;
	top:22%;
	color: #fff;
	font-size: 16px;
	
	
}
.ide_noe_fr1{
	border-bottom:2px solid #fff;
	padding: 20px 5px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}
.ide_noe_fr2{
	font-size: 20px;
	font-weight: 600;
	font-family:cursive;
}
.ide_two{
	float: right;
	width: 60%;
	height: 100%;
	padding: 16px 20px;
	background: rgba(139,174,230,0.4)
}
.ide_two p{
	font-size: 14px;
	color:#fff;
	line-height: 2em;
	height: 12em;
	overflow: hidden;
}
.peofaith{
	float: left;
	width: 100%;
	height: 260px;
}
.peofaith_titm{
	color:#fff;
	float: left;
	margin: 38px 0 0 5%;
	width: 35%;
}
.peofaith_titm li{
	background: #7aa1e0;
	font-size:16px;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
}
.peofaith_titm .set{
    background: rgba(255,255,255,0.6);
	color:#da4f56;
}
.m_yan{
	margin-top:38px;
	height: 200px;
	background: url(../imgs/ideal.png) no-repeat;
	background-size:100% 100%;
	
}
.m_one{
    width:auto;
	height: 100%;
	display: none;
}
.font{
	display: block;
}
.m_dan{
	height:100%;
	overflow: hidden;
	color: #fff;
}
.m_dan li{
	line-height: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	font-size: 14px;
}
.m_dan li strong{
	padding: 0 8px 0 0;
}
/*在线党校开始*/
.cont_move{
	overflow: hidden;
	margin: 0 auto;
	padding: 0 3px;
}
.cont_whole{
	float: left;
	width: 100%;
	height: 350px;
	margin: 10px 0;
	padding: 0 20px;
}
.cp_title{
	width: auto;
	overflow: hidden;
}
.cp_title p{
	float: left;
	font-size: 16px;
	color: #da4f56;
}
.cp_title a{
	float: right;
	color:#3162bd;
	margin-top: 5px;
}
.cp_wd{
	position: relative;
	width: 100%;
	height: 310px;
	border: 1px solid #f2f2f2;
	box-shadow: 0px 0px 8px #ebeaea;
	border-radius: 10px;
}
.cp_photo{
	position: absolute;
    width: 190px;
	height: 190px;
	left: 20px;
	top:60px;
}
.cp_photo img{
	width: 100%;
	height: 100%;
}
.cp_wd_x{
	position: absolute;
    height: 100%;
	width: 100%;
	right: 0;
	padding: 20px 15px;
}
.cp_wd_s{
	height: 18em;
	overflow: hidden;
	margin:10px 0 0 0;
}
.cp_wd_s li{
	font-size: 16px;
	margin: 2px 0 10px 0;
}
.cp_wd_s strong{
    padding: 0 8px 0 0;
}
.cp_wd_s a{
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.cp_wd_s a:hover{
	color:#da4f56;
}
.f_n{
	float: right;
}
/*底部轮播图*/
.bottom{
	width: 100%;
	height: 320px;
	background: url(../imgs/bagphoto.png) no-repeat;
}
.bot_ng{
	margin: 20px 0;
	font-size: 16px;
	padding:0 20px;
}
.bot_ng p{
	margin: 0;
}
.bot_mide{
    width: 100%;
	height: 180px;
	background: #fafafa;
}
.b_btn{
	display: block;
	width: 40px;
	height: 100%; 
	font-size: 30px;
	font-family: cursive;
	font-weight:bold;
	text-align: center;
	line-height: 180px;
	cursor: pointer;
}
.b_btnlet{
    float: left;
}
.b_btnrgt{
	float: right;
}
.bphoto_md{
	width: auto;
	height: 100%;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.bphoto_md ul{
    position: absolute;
	margin-bottom: 0;
}
.bphoto_md li{
	float: left;
	width:210px;
	height: 180px;
	padding: 25px 20px;
}
.bphoto_md li a{
	display: block;
	height: 100%;
	width: auto;
}
.bphoto_md li a img{
	width:100%;
	height: 100%;
}

/*home page end*/

/*2019 Qiusuo top and footer share style*/
/*header*/
.header{
	background:#2b6bcc url(../imgs/heacenr.png) no-repeat 50% 0;
	background-size: auto 122px;
	padding: 10px 0;
}
.hh{
	margin-top:20px;
}
.moblepd{
    padding-left: 15px;
}
.helogo{
	float:left;
	width:auto;
}
.search{
	float: left;
	width: 260px;
	height: 32px;
	position: relative;
	left: 436px;
	top: 32px;
}
#sea_che{
    height: 100%;
}
.sea_ip{
	float: left;
	height: 100%;
	width: 213px;
	padding: 0 10px;
	border: 0;
	outline: none;
	background: #f5f3f3;
	border-radius: 15px 0 0 15px;
}
.sea_t{
	float: left;
	width:45px;
	height: 100%;
	border:0;
	background: #dde3ec;
	outline: none;
	border-radius: 0 15px 15px 0;
}
.sea_t:hover{
	background: #d9dde3;
}
.qswisdom{
	float:right;
	position:relative;
	height:90px;
	width:130px;
	font-size:18px;
	color:#e7eaef;
	font-family:STFangsong;
}
.qshen{
	display: block;
	position: absolute;
	width:30px;
	height:1px;
	background: #cad8ef;
}
.qsshu{
	display:block;
	position:absolute;
	width:1px;
	height:12px;
	background: #cad8ef;
}
.hft{
	top:5px;
}
.sft{
	left:5px;
}
.hht{
	bottom:5px;
	right:0;
}
.sht{
	bottom:0;
	right:5px;
}
.headerna{
	float:left;
	position:absolute;
	top:20px;
	left:15px;
}
.headerna li{
	line-height: 1.5em ;
	letter-spacing:3px;
}
.headerja{
	float:right;
	position:absolute;
	top:20px;
	right:15px
}
.headerja li{
	line-height: 1.5em ;
	letter-spacing:3px;
}
.navfo{
	color:#e7eaef;
	font-family:STFangsong;
	font-size: 18px;
	padding:12px 0;
}
.section{
	float:left;
	text-indent: 115px;
	letter-spacing:1px;
}
.timers{
	float:right;
}
.navbut{
	position: relative;
	right:30px
}

.xiala{
	height:auto;
	padding-left: 35px;
}

.xiala li{
	float: left;
	width:40%;
	line-height: 50px;
	text-align: center;
	margin: 0 3px;
}
.xiala li a{
	text-decoration:none;
	color:#fff;
	display: block;
}
/*尾部*/
.footer{
	width: 100%;
	background: #256bd8;
}
.foot_le,.foot_cen,.foot_rg{
	float:left;
	height: 100px;
	width: 100%;
	padding: 20px;
	color: #e7eaef;
	position: relative;
}
.foot_rg{
	height: auto;
}
.foot_cen{
   margin-top: 20px;
}
.foot_le ul li{
	float: left;
	width: 50%;
	margin: 6px 0;
	text-align: center;
}
.foot_le li a{
    color: #e7eaef;
}
.foot_cen img{
	width: 180px;
	position: absolute;
	left:50%;
	margin-left: -95px;
	top:20px;
}
.foot_tel{
    position: relative;
    height: 60px;
	width: 176px;
	margin: auto;
}
.tel{
	position: absolute;
	left:0;
	top: 5px;
}
.tel_sone{
	position: absolute;
	left: 60px;
	top: 3px;
}
.tel_stwo{
	position: absolute;
	left: 60px;
	bottom: 0;
	font-size: 16px;
}
.guanbo{
	display: block;
	position: relative;
	width: 100px;
	color: #e7eaef;
	margin:25px auto;
}
.guanbo img{
	margin-top: -3px;
}
.guanbo span{
	margin: 0 0 0 5px;
}
.wbt{
	position: absolute;
	display: none;
	left: -15px;
	bottom: 35px;
	background: #fff;
	padding: 10px 5px 5px 5px;
    border-radius: 5px;
}
.xico{
	position: absolute;
	bottom: -8px;
	left: 52px;
}
.guanbo:hover .wbt{
    display: block;
}
.foot_bot p {
	margin: 0;
	line-height: 25px;
}
.foot_bot{
    width: 100%;
	padding: 20px;
	background: #0b48a8;
	text-align: center;
	color: aliceblue;
}
/*返回顶部*/
.totop{
    display: none;
	position: fixed;
	top:67%;
	right: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 1000;
	line-height: 30px;
	text-align: center;
}
.totop span{
	font-size: 24px;
}
@media screen and (max-width: 992px) {
	#logo{
			width:85%;
		}
	.qswisdom{
			height:82px;
			width:110px;
			position:relative;
			font-size:16px
		}
	.qshen{
		display: block;
		position: absolute;
		width:25px;
		height:1px;
		background: #cad8ef;
	}
	.qsshu{
		display:block;
		position:absolute;
		width:1px;
		height:11px;
		background: #cad8ef;
	}
	.headerna{
		top:16px;
		left:10px;
	}
	.headerja{
		float:right;
		position:absolute;
		top:16px;
		right:10px
    }
	.section{
		text-indent: 93px;
	}
	.navfo{
		font-size:16px;
	}
}
@media screen and (max-width: 768px) {
	.hh{
		margin-top:10px;
	}
	#logo{
		width:60%;
	}
	.qswisdom{
	    font-size:12px;
		width:94px;
		height:56px;
		font-weight: normal;
	}
	.headerna{
		top:10px;
		left:13px;
	}
	.headerja{
		top:10px;
		right:13px;
	}
	.section{
		text-indent: 66px;
		font-weight: normal;
		letter-spacing: 0px;
		margin-top: -5px;
	}
	.navfo{
		font-size: 12px;
	}
	.ft{
		position: relative;
		top:25px;
	}
	.switch{
		position:relative;
		top:-19px;
    }
	.circle{
		display:none;
	}
}
@media screen and (min-width: 768px) {
	.header{
		background:#2b6bcc url(../imgs/heacenr.png) no-repeat 75% 0;
		background-size: auto 180px;
	}
	.moblepd{
    	padding-left: 0;
	}
	.search{
		width: 220px;
		left: 80px;
		top: 25px;
	}
	.sea_ip{
		width: 175px;
	}
	.sea_t{
		width:45px;
	}
	.xiala{
		display: none !important;
	}
	/*return to the top*/
	.totop{
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.totop span {
		font-size: 28px;
	}
	/*footer*/
	.foot_le,.foot_cen,.foot_rg{
		padding: 40px 20px;
		width: 33.3333%;
		height: 180px;
		color: #e7eaef;
		position: relative;
	}
	.foot_cen img{
		left:20px;
		margin:0;
		top:50px;
	}
	.tel_stwo{
		font-size: 18px;
	}
	.guanbo{
		float: left;
		top: 20px;
		margin:0;
	}
	.foot_cen{
   		margin-top: 0;
	}
	.foot_tel{
		position: relative;
		height: 60px;
		width: auto;
	}
	.guanwei{
    	float: left;
	}
}
@media screen and (min-width: 992px) {
	.header{
		background:#2b6bcc url(../imgs/heacenr.png) no-repeat 64% 0;
		background-size: auto 192px;
	}
	.search{
		width: 260px;
		left: 250px;
		top: 32px;
	}
	.sea_ip{
		width: 213px;
	}
	.sea_t{
		width:45px;
	}
	/*return to the top*/
	.totop{
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.totop span {
		font-size: 40px;
	}
	/*footer*/
	.foot_le,.foot_cen,.foot_rg{
		padding: 40px 20px;
	}
	.foot_cen img{
		left:50px;
	}
	.tel_stwo{
		font-size: 22px;
	}
	.guanbo{
		margin: 0 20px 0 0;
	}
}
@media screen and (min-width: 1200px) {
	.header{
		background:#2b6bcc url(../imgs/heacenr.png) no-repeat 50% 0;
		background-size: auto 192px;
	}
	.search{
		width: 260px;
		left: 436px;
		top: 32px;
	}
	/*footer*/
	.foot_le,.foot_cen,.foot_rg{
		padding: 40px;
	}
	.foot_cen img{
		left:80px;
	}
	.foot_tel{
		letter-spacing: 2px;
	}
}
/*end*/

/*2019 Qiusuo home page style*/
@media screen and (min-width: 768px) {
	.contain{
		height:280px;
	}
	.btns span{
		line-height: 278px;
		font-size:45px;
	}
	
	.fimenus{
		height:90px;
	}
	#one,#two,#three,#four,#five,#six,#seven,#eight{
		background-size:90%;
    }
	.word{
		font-size: 14px;
		letter-spacing: normal;
		font-family:STFangsong;
	    font-weight:600;
	}
	.wods{
		margin:9px auto;
	}
	.firstmenust{
		margin-top:-20px;
	}
	.neshade{
		width:49%;
	}
	.news_left{
		float:left;
	}
	.news_right{
		position: absolute;
	    right:0;
		bottom: 0;
		padding:5px 20px 0;
		background: #f1f1f1;
	}
	.news_right p{
		margin:0 0 5px;
		font-size:16px;
		font-weight:600;
	}
	.newscontain{
		max-height: 170px;
		overflow: hidden;
	}
	.newscontain a{
		font-size: 14px;
	}
	.learnings{
		height:390px;
		margin:40px auto;
	}
	.lena p{
		font-size:20px;
    }
	.stu_nei{
		position: absolute;
		left:-705px;
	}
	.stu_every{
		width: 235px;
	}
	.stuevery_con{
		padding:10px 15px;
		width:90%;
    }
	.stuevery_con h3{
		margin: 20px 0 10px;
    }
	.stuitem{
		font-size: 16px;
    }
	.stumate{
		width:94%;
	}
	.stuessay{
		line-height: 2.0em;
		height:8em;
    }
	.stu_nei{
		width:99999px;
		height:100%;
		position: absolute;
    }
	.de{
		padding: 1px 4px;
    }
    .stutime_year{
		font-size: 13px;
    }
	.stutime_date{
		font-size:20px;
    }
	.stu_btn span{
		font-size: 20px;
		padding:5px 5px;
		top:115px;
	}
	.con_title{
		width: auto;
	}
	.con_title p{
		font-size: 20px;
	}
	.con_shows{
		height: 250px;
	}
	.ide_noe_fr{
		top:30%;
	}
	.ide_two{
		padding: 30px 20px;
	}
	.ide_two p{
		font-size: 16px;
	}
	.peofaith{
		margin-top: 38px;
	}
	.peofaith_titm li:not(:last-of-type){
		border-right:2px solid #fff;
	}
	.m_dan li{
		line-height: 2em;
		font-size: 16px;
	}
	.peofaith{
		height: 288px;
	}
	.peofaith_titm{
		margin:0;
		width: auto;
		color:#da4f56;
	}
	.m_yan{
		height: 250px;
	}
	.peofaith_titm li{
		float: left;
		height: 38px;
		background: #f3f6fc;
		line-height: 38px;
		padding: 0 5px;
	}
	.peofaith_titm .set{
		background: #7aa1e0;
		color:#fff;
	}
	.cp_wd_x{
		width: 58%;
	}
	.cont_whole{
		padding: 0;
	}
	.cont_move{
		margin: 30px auto;
	}
	.cp_title p{
		font-size: 20px;
	}
	.bottom{
		height: 400px;
	}
	.bot_ng{
		margin: 30px 0;
		font-size: 20px;
		padding: 0;
	}
}
@media screen and (min-width: 992px) {
	.contain{
		height:400px;
	}
	.btns span{
		line-height: 400px;
		font-size:50px;
	}
	.f_nannews{
		margin-top:40px;
	}
	.fimenus{
		height:116px;
	}
	#one,#two,#three,#four,#five,#six,#seven,#eight{
		background-size:90%;
    }
	.word{
		font-size: 16px;
		letter-spacing: 2px;
	}
	.wods{
		margin:12px auto;
	}
	.news_right{
		padding:20px 20px 0;
	}
	.news_right p{
		letter-spacing: 1px;
		font-size: 20px;
		padding-left: 16px;
		margin:0 0 5px;
	}
	.schoolnews a{
		font-size: 28px;
    }
	.newscontain a{
		font-size: 16px;
	}
	.newscontain{
		max-height: 182px;
	}
	
	.learnings{
		height:400px;
		margin:50px auto;
	}
	.lena p{
		font-size:25px;
    }
	.sle{
		height:260px;
    }
	.stu_nei{
		left:-684px;
	}
	.stu_every{
		width: 228px;
	}
	.stuevery_con h3{
		margin: 20px 0 10px;
		font-size: 23px;
    }
	.stuitem{
		font-size: 16px;
    }
	.stuessay{
		line-height: 2.0em;
		height:8em;
    }
	.stu_btn span{
		font-size: 25px;
	}
	.ideal{
	    width:50%;
    }
	.con_title p{
		border: 0;
		padding-bottom: 0;
	}
	.peofaith{
		width: 50%;
	    margin-top:0;
    }
	.peofaith_titm{
		float:right;
	}
	.cp_photo{
		width: 160px;
		height: 160px;
		top:75px;
	}
	.cont_whole{
		width: 47%;
		height: 350px;
	}
}
@media screen and (min-width: 1200px) {
	.contain{
		height:450px;
	}
	.btns span{
		line-height: 450px;
		font-size:55px;
	}
	.fimenus{
		height:140px;
	}
	.word{
		font-size: 18px;
		letter-spacing: 2px;
	}
	.wods{
		margin:15px auto;
	}
	.news_left{
		height:390px;
	}
	.newscontain{
		max-height: 224px;
	}
	.learnings{
		height:500px;
		margin:60px auto 50px;
		padding-top: 30px;
	}
	.lena{
		margin-bottom:30px;
    }
	.lena p{
		font-size:28px;
    }
	.sle{
		height:300px;
    }
	.stu_nei{
		left:-825px;
	}
	.stu_every{
		width: 275px;
	}
	.stuevery_con h3{
		margin: 20px 0;
		font-size: 26px;
		letter-spacing: 1px;
    }
	.stuitem{
		font-size: 18px;
    }
	.stuessay{
		line-height: 2.0em;
		height:10em;
    }
	.stu_btn span{
		font-size: 30px;
		top:125px;
	}
	.cp_photo{
		width: 190px;
		height: 190px;
		top:60px;
	}
}
@media screen and (min-width: 1400px) {
	.contain{
		height:550px;
	}
	.btns span{
		line-height: 550px;
		font-size:70px;
	}
}
/*end*/

